*suo
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.txt
*.idb
*.pdb
*.bin
Code/Engine/Json/*
Code/Engine/Box2D/*
Code/Engine/Lua/src/*
Code/Engine/Json/nlohmann/*
Code/Samples/Windows/HelloWorld/x64/*
Code/Samples/Windows/ApplicationSample/x64/*
Code/Samples/Windows/SpritesSample/x64/*
Code/Samples/Windows/WidgetSample/x64/*
Code/Samples/Windows/TiledSample/x64/*
Code/Samples/Windows/LuaSample/x64/*
Projects/Windows/Core/x64/*
Projects/Windows/Box2D/x64/*
Projects/Windows/Application/x64/*
Projects/Windows/WindowsApplication/x64/*
Projects/Windows/RenderSystem/x64/*
Projects/Windows/RenderSystemDX10/x64/*
Projects/Windows/XAudio2/x64/*
Projects/Windows/Audio/x64/*
Projects/Windows/Lua/x64/*
Projects/Windows/World/x64/*
Projects/Windows/GUI/x64/*
Projects/Windows/x64/*
*.dll
